	<div class="row">
		<div class="card-deck">

	{{# each products}}
			<div class="col col-md-4">
			  <div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
				  <div class="card-body">
				  	<form action="/checkout" method="post" id="checkout_form">
					    <input name="name" value="{{this.title}}" class="card-title" disabled="true">
					    <input name="price" class="card-title" value="{{this.price}}" disabled="true">€
					    <p class="card-text">{{this.description}}</p>
					    <div class="form-group" style="display: inline-flex;">
						    <select style="width: auto" class="form-control" name="qtity" id="selectQtity">
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>
						    <button class="btn btn-primary" type="submit">Commander</button>
			  			</div>
		  			</form>
				  </div>
				</div>
			</div>
	{{/each}}

		</div>
</div>